{{!
{
	"title": "Albums",
	"name": "albums",
	"resources": {
        "albums": "https://graph.facebook.com/americascup/albums"
    }
}
}}

<section id="albums">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</section>