<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>

	<title>{{page.title}} :: Walkthrough</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/compiled/styles.css" />
	{{#dev}}
	<!-- Livereload script. Automatically reloads CSS when changed. -->
	<script src="http://localhost:35729/livereload.js?snipver=1"></script>
	{{/dev}}
	<!-- Site context, made available for use in client side javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
	<script>{{{context}}}</script>
    <script src="/compiled/scripts.js"></script>

</head>
<body id="page-{{page.name}}">

	{{{body}}}

</body>
</html>